.navbar-brand{
    font-size: 1.5rem;
    font-weight: 400;
    font-family: monospace;
}

.nav-item{
    font-size: 1.2rem;
}

.card {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lavender;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
color: black;
}
.g-4, .gy-4 {
    --bs-gutter-y: 1rem;
}

body {
    background-color: #F7EDE2;
}
.card-text{
    text-align: justify;
}

h5 {
    font-family: 'Poppins';
    font-weight: bold;
}